In [31]:
import pandas as pd
import os

df = pd.read_csv(r'/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton/4.3/4.3_orders_products/orders.csv', index_col=False)
print(os.listdir('/Users/am/Desktop'))

['Screenshot 2025-10-08 at 17.18.57.png', 'Screenshot 2025-10-07 at 15.53.03.png', 'departments_wrangled_test.csv', 'Screenshot 2025-10-07 at 10.26.41.png', 'Screenshot 2025-10-06 at 15.38.17.png', 'orders.csv', '.DS_Store', 'Screenshot 2025-10-08 at 17.18.53.png', 'CF Data Analysis essentials ', '.localized', 'Screenshot 2025-10-08 at 09.39.49.png', 'Screenshot 2025-10-06 at 12.59.16.png', 'orders_wrangled_test.csv', 'Screenshot 2025-10-08 at 17.22.31.png', 'Screenshot 2025-10-06 at 09.17.49.png', 'Screenshot 2025-10-08 at 09.39.58.png', 'Screenshot 2025-10-04 at 09.09.42.png', 'Screenshot 2025-10-08 at 17.16.22.png', 'ords_prods_merge_final.pkl', 'CF Career Path', 'Screenshot 2025-10-06 at 15.22.25.png', 'Screenshot 2025-10-08 at 17.32.00.png', 'Screenshot 2025-10-04 at 18.58.36.png', 'Screenshot 2025-10-08 at 17.16.17.png', 'Screenshot 2025-10-08 at 17.15.34.png', 'Screenshot 2025-10-06 at 11.21.57.png', 'Screenshot 2025-10-06 at 13.42.00.png', 'Screenshot 2025-10-04 at 19.34.58.png', 'Screenshot 2025-10-06 at 16.28.29.png']

In [32]:
#create datframe
df_test = pd.DataFrame()

In [33]:
df_test['mix'] = ['a', 'b', 1, True]

In [34]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [35]:
#check for mixed tape 

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/bx/glkbqc4x44qdk4_cp2ssyhl00000gn/T/ipykernel_14432/3924584600.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [39]:

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prod_clean_no_dups.shape

NameError: name 'df_prods_clean' is not defined

In [36]:
#Converted the mixed column to string with:
df_test['mix'] = df_test['mix'].astype('str')

In [8]:
## Step 2: Import product and order data for consistency checks

# Load products.csv
df_prods = pd.read_csv('/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton/4.4/departments_wrangled.csv')

# Load orders_wrangled.csv
df_ords = pd.read_csv('/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton/4.4/orders_wrangled.csv')

In [37]:
#missing value check

df_prods.isnull().sum()

NameError: name 'df_prods' is not defined

In [24]:
df_prods.isnull().sum()
df_ords.isnull().sum()

NameError: name 'df_prods' is not defined

In [26]:
#There are 206,209 missing values in the days_since_prior_order column.All other columns have zero missing values.

In [25]:
#Check for Mixed-Type Columns 


df_ords.describe()

NameError: name 'df_ords' is not defined

In [26]:
#I Create a flag column - this keeps the original column unchanged):
df_ords['first_order'] = df_ords['days_since_prior_order'].isnull()

NameError: name 'df_ords' is not defined

In [27]:
for col in df_ords.columns:
    types = df_ords[col].apply(type).nunique()
    if types > 1:
        print(f"Column '{col}' has {types} data types.")

NameError: name 'df_ords' is not defined

In [28]:
# Find full duplicate rows
df_dups = df_ords[df_ords.duplicated()]

# Check how many duplicates there are
print(f"Number of duplicate rows: {df_dups.shape[0]}")

NameError: name 'df_ords' is not defined

In [15]:
new_folder_path = '/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton/new 4.5'

In [29]:
# Export the dataframes as CSV to the new folder
df_prods.to_csv(os.path.join(new_folder_path, 'departments_wrangled.csv'), index=False)
df_ords.to_csv(os.path.join(new_folder_path, 'orders_wrangled.csv'), index=False)

print("Files exported successfully!")

NameError: name 'df_prods' is not defined