In [1]:
import pandas as pd
import os

df = pd.read_csv(r'/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton/4.3/4.3_orders_products/orders.csv', index_col=False)
print(os.listdir('/Users/am/Desktop'))

['CF Data Analysis essentials', 'Screenshot 2025-10-08 at 17.18.57.png', 'Screenshot 2025-10-07 at 15.53.03.png', 'departments_wrangled_test.csv', 'Screenshot 2025-10-07 at 10.26.41.png', 'Screenshot 2025-10-06 at 15.38.17.png', 'orders.csv', '.DS_Store', 'Screenshot 2025-10-08 at 17.18.53.png', 'CF Data Analysis essentials ', 'products_clean.pkl', '.localized', 'Screenshot 2025-10-08 at 09.39.49.png', 'Screenshot 2025-10-06 at 12.59.16.png', 'orders_wrangled_test.csv', 'Screenshot 2025-10-08 at 17.22.31.png', 'Screenshot 2025-10-06 at 09.17.49.png', 'Screenshot 2025-10-08 at 09.39.58.png', 'Screenshot 2025-10-04 at 09.09.42.png', 'Screenshot 2025-10-08 at 17.16.22.png', 'Screenshot 2025-10-09 at 15.29.09.png', 'ords_prods_merge_final.pkl', 'CF Career Path', 'products_clean.pkl 2', 'Screenshot 2025-10-06 at 15.22.25.png', 'Screenshot 2025-10-08 at 17.32.00.png', 'Screenshot 2025-10-04 at 18.58.36.png', 'Screenshot 2025-10-08 at 17.16.17.png', 'Screenshot 2025-10-08 at 17.15.34.png', 'Screenshot 2025-10-06 at 11.21.57.png', 'Screenshot 2025-10-06 at 13.42.00.png', 'Screenshot 2025-10-04 at 19.34.58.png', 'Screenshot 2025-10-06 at 16.28.29.png']

In [3]:
path = r'/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton/4.3/4.3_orders_products'

In [4]:

# DataFrames laden
df_orders = pd.read_csv(os.path.join(path, 'orders.csv'))
df_prods = pd.read_csv(os.path.join(path, 'products.csv'))

# Shape ausgeben
print("Shape von df_orders:", df_orders.shape)
print("Shape von df_prods:", df_prods.shape)

Shape von df_orders: (3421083, 7)
Shape von df_prods: (49693, 5)

In [5]:
print(df_orders.columns.tolist())

['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [6]:
# Drop a column
df_orders = df_orders.drop(columns=['eval_set'])

In [11]:
print(df_orders.columns.tolist())

['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [7]:
if 'eval_set' in df_orders.columns:
    df_orders = df_orders.drop(columns=['eval_set'])
else:
    print("'eval_set' column not found — skipping drop.")

'eval_set' column not found — skipping drop.

In [8]:
print(df_orders.head())

   order_id  user_id  order_number  order_dow  order_hour_of_day  \
0   2539329        1             1          2                  8
1   2398795        1             2          3                  7
2    473747        1             3          3                 12
3   2254736        1             4          4                  7
4    431534        1             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

In [9]:
df_orders.rename(columns={'order_dow': 'orders_day_of_week'}, inplace=True)

df_orders['order_id'] = df_orders['order_id'].astype('str')

print(df_orders['order_id'].dtype)

object

In [10]:
print(df_orders['order_id'].head())
print(df_orders['order_id'].dtype)

0    2539329
1    2398795
2     473747
3    2254736
4     431534
Name: order_id, dtype: object
object

In [15]:
df_orders['days_since_prior_order'].value_counts(dropna=False)

days_since_prior_order
30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: count, dtype: int64

In [11]:
# frequency of orders by hour
hour_counts = df_orders['order_hour_of_day'].value_counts().sort_index()

print(hour_counts)

# the busiest hour
busiest_hour = hour_counts.idxmax()
busiest_count = hour_counts.max()

print(f"The busiest order hour is {busiest_hour} with {busiest_count} orders.")

order_hour_of_day
0      22758
1      12398
2       7539
3       5474
4       5527
5       9569
6      30529
7      91868
8     178201
9     257812
10    288418
11    284728
12    272841
13    277999
14    283042
15    283639
16    272553
17    228795
18    182912
19    140569
20    104292
21     78109
22     61468
23     40043
Name: count, dtype: int64
The busiest order hour is 10 with 288418 orders.

In [18]:
# Define path to the 4.4 folder
path_4_4 = r'/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton Theory/4.4'

# Load departments.csv
df_dep = pd.read_csv(os.path.join(path_4_4, 'departments.csv'), index_col=False)

# Check shape
print(df_dep.shape)
df_dep.head()

FileNotFoundError: [Errno 2] No such file or directory: '/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton Theory/4.4/departments.csv'

In [15]:
df_dep_t = df_dep.T

NameError: name 'df_dep' is not defined

In [16]:
df_dep_t.head()

NameError: name 'df_dep_t' is not defined

In [17]:
new_header = df_dep_t.iloc[0]  # Get the actual header row

NameError: name 'df_dep_t' is not defined

In [83]:
df_dep_t_new = df_dep_t[1:]  # Drop first row

In [84]:
df_dep_t_new.columns = new_header  # Set new header

In [85]:
df_dep_t_new.reset_index(drop=True, inplace=True)
df_dep_t_new.head()

department_id department
0                 frozen
1                  other
2                 bakery
3                produce
4                alcohol

In [86]:
df_dep_t_new.columns

Index(['department'], dtype='object', name='department_id')

In [88]:
print(df_dep_t_new.head())
print(df_dep_t_new.dtypes)

department_id department
0                 frozen
1                  other
2                 bakery
3                produce
4                alcohol
department_id
department    object
dtype: object

In [89]:
print(df_dep_t_new.columns)

Index(['department'], dtype='object', name='department_id')

In [90]:
print(df_dep_t_new.index)

RangeIndex(start=0, stop=21, step=1)

In [95]:
# 1. Reset index so 'department_id' becomes a column
df_dep_t_new = df_dep_t_new.reset_index()

# 2. Rename columns
df_dep_t_new.columns = ['department_id', 'department']

# 3. Check your fix
print(df_dep_t_new.head())

   department_id department
0              0     frozen
1              1      other
2              2     bakery
3              3    produce
4              4    alcohol

In [96]:
df_dep_t_new[df_dep_t_new['department_id'] == 4]

   department_id department
4              4    alcohol

In [97]:
df_dep_t_new[df_dep_t_new['department'] == 'breakfast']

    department_id department
13             13  breakfast

In [98]:
breakfast_df = df_prods[df_prods['department_id'] == 13]

In [99]:
print(breakfast_df.head())
print(f"Total breakfast items: {len(breakfast_df)}")

    product_id                                   product_name  aisle_id  \
1            2                               All-Seasons Salt       104
4            5                      Green Chile Anytime Sauce         5
49          50                             Pumpkin Muffin Mix       105
64          65  Organic Red Wine & Olive Oil Dressing Organic        89
66          67                              Jelly, Blackberry        88

    department_id  prices
1              13     9.3
4              13     4.3
49             13    11.3
64             13    12.4
66             13     4.9
Total breakfast items: 5371

In [100]:
df_dep_t_new[df_dep_t_new['department'].isin(['alcohol', 'deli', 'beverages', 'meat seafood'])]

    department_id    department
4               4       alcohol
6               6     beverages
11             11  meat seafood
19             19          deli

In [102]:
# Define the relevant department IDs
dinner_ids = [4, 6, 11, 19]

# Filter df_prods
dinner_party_df = df_prods[df_prods['department_id'].isin(dinner_ids)]

# Preview the data
print(dinner_party_df.head())
print(f"Number of dinner party items: {dinner_party_df.shape[0]}")

    product_id                       product_name  aisle_id  department_id  \
0            1         Chocolate Sandwich Cookies        61             19
5            6                       Dry Nose Oil        11             11
12          13                  Saline Nasal Mist        11             11
15          16      Mint Chocolate Flavored Syrup       103             19
21          22  Fresh Breath Oral Rinse Mild Mint        20             11

    prices
0      5.8
5      2.6
12     1.1
15     5.2
21     9.5
Number of dinner party items: 15652

In [ ]:
#How many rows does the last dataframe you created have? Answer: 15,652 rows

In [103]:
# Extract data for user_id = 1
user_1_data = df_orders[df_orders['user_id'] == 1]

# Preview
print(user_1_data)
print(f"\nNumber of orders by user 1: {user_1_data.shape[0]}")

   order_id  user_id  order_number  orders_day_of_week  order_hour_of_day  \
0   2539329        1             1                   2                  8
1   2398795        1             2                   3                  7
2    473747        1             3                   3                 12
3   2254736        1             4                   4                  7
4    431534        1             5                   4                 15
5   3367565        1             6                   2                  7
6    550135        1             7                   1                  9
7   3108588        1             8                   1                 14
8   2295261        1             9                   1                 16
9   2550362        1            10                   4                  8
10  1187899        1            11                   4                  8

    days_since_prior_order
0                      NaN
1                     15.0
2                     21.0
3                     29.0
4                     28.0
5                     19.0
6                     20.0
7                     14.0
8                      0.0
9                     30.0
10                    14.0

Number of orders by user 1: 11

In [104]:
# Average days between orders
avg_days = user_1_data['days_since_prior_order'].mean()

# Most common order day
most_common_day = user_1_data['orders_day_of_week'].mode()[0]

# Most common order hour
most_common_hour = user_1_data['order_hour_of_day'].mode()[0]

# Display results
print(f"User 1 placed {user_1_data.shape[0]} orders.")
print(f"Average gap between orders: {round(avg_days, 1)} days.")
print(f"Most common day of week for orders: {most_common_day} (0=Sunday, 6=Saturday).")
print(f"Most common hour of day for orders: {most_common_hour}:00.")

User 1 placed 11 orders.
Average gap between orders: 19.0 days.
Most common day of week for orders: 4 (0=Sunday, 6=Saturday).
Most common hour of day for orders: 7:00.

In [106]:
#11 orders totalAverage gap between orders: 19 days

#Most common order day: 4 (which means Thursday if 0=Sunday)

#Most common order hour: 7 AM

In [29]:
#export files
export_path = '/Users/am/Desktop/CF Data Analysis essentials/2_Data Analytics Immersions_2 von 3/4 Phyton Theory/4.4/Prepared Data'

os.makedirs(export_path, exist_ok=True)
# Beispiel: sicherstellen, dass df_dep_t_new vorhanden ist
if 'df_dep_t_new' in globals():
    df_dep_t_new.to_csv(os.path.join(export_path, 'departments_wrangled.csv'), index=False)
else:
    print("df_dep_t_new ist nicht definiert, Export nicht möglich.")

df_dep_t_new ist nicht definiert, Export nicht möglich.

In [ ]:
print("Orders file exists:", os.path.isfile(export_path + 'orders_wrangled.csv'))
print("Departments file exists:", os.path.isfile(export_path + 'departments_wrangled.csv'))