In [15]:
import pandas as pd
import numpy as np
import os

df = pd.read_csv(r'/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton/4.3/4.3_orders_products/products.csv', index_col=False)

products_df = df
print(products_df.head())

   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id  prices
0             19     5.8
1             13     9.3
2              7     4.5
3              1    10.5
4             13     4.3

In [16]:
#clean data

df_prods_clean = df[df['product_name'].isnull() == False]

df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

df_prods_clean_no_dups.shape

(49672, 5)

In [17]:
#create datframe
df_test = pd.DataFrame()

In [18]:
df_test['mix'] = ['a', 'b', 1, True]

In [19]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [20]:
#check for mixed tape 

for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

/var/folders/bx/glkbqc4x44qdk4_cp2ssyhl00000gn/T/ipykernel_22303/369266618.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [21]:
# Export the cleaned  dataframes as pkl 

df_prods_clean_no_dups.to_pickle('/Users/am/Desktop/CF Data Analysis essentials /2_Data Analytics Immersions_2 von 3/4 Phyton/4.3/4.3_orders_products/products_clean.pkl')

print(os.getcwd())

/Users/am/01.10.2025/03 Scripts